src/main/mule/airindiaFlights.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="bcf35ea5-e112-488c-9710-d6476b636af6" >
		<wsc:connection wsdlLocation="http://airindia-services.us-e2.cloudhub.io/airindia?wsdl" service="TicketServiceService" port="TicketServicePort" address="http://airindia-services.us-e2.cloudhub.io/airindia" />
	</wsc:config>
	<flow name="airindiaFlightsFlow" doc:id="197be884-3e63-44da-b34a-0450080371a0" >
		<logger level="INFO" doc:name="Logger" doc:id="d6b50dc4-7826-443b-bae6-35533452a67a" message="airindiaflights............#[attributes.queryParams]"/>
		<ee:transform doc:name="Transform Message" doc:id="82759ed0-b61d-484b-a1d3-e377fb5ce7dd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#getFlights: {
		from: attributes.queryParams.source,
		to: attributes.queryParams.destination,
		depatureDate: attributes.queryParams.doj
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="fa6501ba-a256-4e25-807d-ce9123648077" message="After transoform message...........#[payload]"/>
		<wsc:consume doc:name="Consume" doc:id="a7fdaad2-897f-4b24-8f39-0e159089d9e7" config-ref="Web_Service_Consumer_Config" operation="getFlights"/>
		<logger level="INFO" doc:name="Logger" doc:id="cbe00c12-4799-48be-8d17-a8f8b8f7c04e" message="The consumer responce...............#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="eaf0becf-455a-430c-888f-5809eb051974" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#getFlightsResponse.*return map ( return , indexOfReturn ) -> {
	Id: return.ID default 0,
	airlineName: return.airline default "",
	fCode: return.flightCode default "",
	fromAirportCode: return.fromAirportCode default "",
	toAirportCode: return.toAirportCode default "",
	departureDate: return.departureDate default "",
	emptySeats: return.emptySeats default 0,
	totalSeats: return.totalSeats as Number default 0,
	price: return.price default 0,
	planeType: return.planeType default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="29820d17-9899-4036-8778-92a510e07a34" message="Final responce of the payload................#[payload]"/>
	</flow>
</mule>
